<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.deepcoding.dao.ExamNameDao">
	
	<resultMap type="cn.deepcoding.model.ExamName" id="examName">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="remarks" property="remarks"/>
		<result column="date" property="date"/>
	</resultMap>
	<select id="getAll" resultMap="examName">
		select * from exam_name order by date asc
	</select>
	<insert id="save">
		insert into exam_name(name,remarks,date)values(#{name},#{remarks},#{date})
	</insert>
	<update id="update">
		update exam_name set name=#{name},remarks = #{remarks},date=#{date} where id = #{id}
	</update>
	<delete id="delete">
		delete from exam_name where id=#{id}
	</delete>	
</mapper>

