<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.deepcoding.dao.SourceDao">
	<select id="findSource" resultType="cn.deepcoding.model.Source">
	 select * from source
	</select>
	<select id="findById" parameterType="int" resultType="cn.deepcoding.model.Source">
	select * from source where id=#{id}
	</select>
</mapper>