<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.deepcoding.dao.StudentTeacherAuditingDao">
	
	<resultMap type="cn.deepcoding.model.StudentTeacherAuditing" id="auditing">
		<id column="id" property="id"/>
		<result column="auditor" property="aduitor"/>
		<result column="audit_time" property="auditTime"/>
		<result column="actual_settlement_amount" property="actualAettlementAmount"/>
		<result column="audit_status" property="auditStatus"/>
		<result column="remarks" property="remarks"/>
		<result column="flag" property="flag"/>
	</resultMap>
	
	
	
	
</mapper>