<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
       http://www.springframework.org/schema/beans/spring-beans.xsd    
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
	<!-- task任务扫描注解 -->


	<task:annotation-driven/>  
	<!-- 配置扫描位置  -->
	<context:annotation-config/>  
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>  
    <context:component-scan base-package="cn.deepcoding.service"/> 
    <!-- 配置注解自动扫描的包 -->  
   	<context:component-scan base-package="cn.deepcoding">
   		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
   	</context:component-scan>  
  
  
    <context:property-placeholder location="classpath:*.properties"/>
    
    <!-- c3p0 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
	<property name="user" value="${jdbc.user}"></property>  
	<property name="password" value="${jdbc.password}"></property>  
	<property name="driverClass" value="${jdbc.driverClass}"></property>  
	<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>  
	<property name="initialPoolSize" value="${jdbc.initialPoolSize}"></property>  
	<property name="maxPoolSize" value="${jdbc.maxPoolSize}"></property>  
    </bean>  
      
      
   <!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->  
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" /> 
        <property name="typeAliasesPackage" value="cn.deepcoding.model"></property> 
        <!-- 自动扫描mapping.xml文件 -->  
        <property name="mapperLocations">
        	<list>
        		<value>classpath:cn/deepcoding/mapper/*.xml</value>
        	</list>
        </property>
        <property name="configLocation" value="classpath:mybatis-config.xml"></property> 
    </bean>
   <!-- DAO接口所在包名，Spring会自动查找其下的类 -->  
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
        <property name="basePackage" value="cn.deepcoding.dao" />  
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>  
    </bean> 
   
   <!-- 配置  Spring 的声明式事物 -->  
   <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
       <property name="dataSource" ref="dataSource" />  
   </bean>
   
   <!-- 配置事物属性 ，需要事物管理器-->  
   <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/> 


</beans>